<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                     
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/46916172?from=vacancy_search_list&amp;query=java%20Odessa">Java Trainee</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/46672352?from=vacancy_search_list&amp;query=java%20Odessa">Middle / Senior Java Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Eastern Peak</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/46452065?from=vacancy_search_list&amp;query=java%20Odessa">Java developer (Full Stack)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">EVA, Линия магазинов</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/46637362?from=vacancy_search_list&amp;query=java%20Odessa">Java Back-end Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Південний, акціонерний банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/46671925?from=vacancy_search_list&amp;query=java%20Odessa">Middle / Senior Java Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Eastern Peak</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/46671808?from=vacancy_search_list&amp;query=java%20Odessa">C# developer with Java knowledge</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Eastern Peak</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/47008660?from=vacancy_search_list&amp;query=java%20Odessa">Senior Java developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">JazzTeam</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/45744507?from=vacancy_search_list&amp;query=java%20Odessa">CLN Java Developer [Remote]</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Cloud Linux</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/46808652?from=vacancy_search_list&amp;query=java%20Odessa">QA Automation Engineer (Java)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/45229869?from=vacancy_search_list&amp;query=java%20Odessa">Cтажёр-разработчик автоматизированных тестов</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">a1qa</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/46539873?from=vacancy_search_list&amp;query=java%20Odessa">Scala Developer (Banking App)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/46948147?from=vacancy_search_list&amp;query=java%20Odessa">QA automation engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/46916098?from=vacancy_search_list&amp;query=java%20Odessa">QA Automation Trainee</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/46988449?from=vacancy_search_list&amp;query=java%20Odessa">Senior HD Radio / SiriusXM Software Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/46539868?from=vacancy_search_list&amp;query=java%20Odessa">Senior QA Automation Engineer (Communications Solutions)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/46539909?from=vacancy_search_list&amp;query=java%20Odessa">Senior Front-End (Angular 2+) Developer (Telemedicine Technology Solutions)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/46539709?from=vacancy_search_list&amp;query=java%20Odessa">PostgreSQL Developer (Global Music Company)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/46539874?from=vacancy_search_list&amp;query=java%20Odessa">Lead Full Stack (Python + React) Engineer (Online Education Solutions)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/46273463?from=vacancy_search_list&amp;query=java%20Odessa">Senior Front End Developer (React)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/46539906?from=vacancy_search_list&amp;query=java%20Odessa">React Native Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>